@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap');
* {
    margin=0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#777, #222);
}

.card {
    position: relative;
    width: 340px;
    height: 450px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    -webkit-border-radius: 25px;
    align: center;
}

.circle {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background: #333;
    clip-path: circle();
}

.circle::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -15px;
    width: 100%;
    height: 100%;
    background: #ff0;
    background: transparent;
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 1);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    /* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%; */
}

.circle .imgbx {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 340px;
    height: 310px;
    background: #ff0;
}

.circle .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    transform-origin: top;
    /* -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s; */
}

.circle .imgbx:hover img {
    transform: scale(1.5);
    /* -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5); */
}

.content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 20px 30px;
}

.content h3 {
    font-size: 1.6em;
    color: #333;
    margin-top: 5px;
    font-family: poppins;
}

.texticon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texticon h4 {
    font-weight: 400;
    color: #e91e63;
    margin-top: 1.5px;
}

.texticon .fa {
    color: #e91e63;
}